.Contenedor-tabla{

    font-family: 'Montserrat', sans-serif;

    border: 1px solid rgb(216, 215, 215);

    padding-top: 10px;
    padding-left: 10px;
    
}

.Formato-color{

    border-radius: 5px;
    height: 26px;
    width: 47px;
   
}

body {
    font-family: 'Montserrat', sans-serif; 
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #363636;
}

table {

    text-align: left;
    width: 100%; 
    border-collapse: collapse;

}

thead{

    font-size: 13px;
    color: rgb(179, 178, 178);

}

tbody{

    color: rgb(58, 58, 58);

}

th{

    padding-left: 10px;
    text-align: left;

}

td{

    padding: 7px;
    border-top: 1px solid rgb(216, 215, 215);
    font-weight: bold; 

}

tbody tr:first-child td {
    border-bottom: none;
  }

